html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header Styling*/
header {
  min-width: 100%;
  height: 300px;
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  /*border-bottom: 1px solid black;*/
  box-shadow: 0px 2px 30px #38366c;
  z-index: 1;
  transition: 0.2s ease;
}
.logo {
  width: 300px;
  transition: 0.2s ease;
}
nav {
  width: 800px;
}
.homeNav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
}
.navLink {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  font-size: 32px;
}
.navLink a {
  text-decoration: none;
  color: #38366c;
}
.navLink a:hover {
  color: #426aa4;
}
.navLink a:active {
  color: #c32231;
}
/*Hero Styling*/
.hero {
  margin: 300px 0 0 0;
  padding: 0;
  background: #ffffff;
  /*position: relative;
  top: 300px;*/ 
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroContent {
  width: 60vw;
  padding: 20px;
}
.heroContent h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #426aa4;
  font-size: 5.5rem;
  margin: 0;
}
#openDaily {
  background: #426aa4;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 0;
  padding: 10px;
}
.heroContent p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 50px;
  margin-top: 20px;
}
.buttonDiv {
  display: flex;
  justify-content: flex-end;
}
.button {
  border: none;
  border-radius: 50px;;
  background: #426aa4;
  font-family: 'Archivo Black', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 20px;
  margin: 10px;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}
/*Services Styling*/
.services {
  background: #426aa4;
  min-width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  /*position: relative;
  top: 300px;*/
}
.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 60vw;
  padding: 20px;
}
.servicesSection h2 {
  font-family: 'Archivo Black', sans-serif;
  color: #ffffff;
  font-size: 5.5rem;
  margin: 0;
}
.servicesCopy h3 {
  font-family: 'Archivo Black', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  margin: 0;
}
.servicesCopy p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 2rem;
  margin: 0;
}
.servicesContent {
  display: flex;
  align-items: center;
}
.servicesIcon {
  width: 200px;
  margin-right: 30px;
}
