.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax1 {
  background-image: url(/images/photos/underHood2_blueOverlay.jpg);
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#parallax2 {
  background-image: url(/images/photos/inspect.jpg);
  background-position: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chevDown {
  font-size: 3rem;
  animation: bounce 1s ease infinite; 
}
.chevRight {
  font-size: 3rem;
  animation: bounceRight 1s ease infinite;
}
.chevLeft {
  font-size: 3rem;
  animation: bounceLeft 1s ease infinite;
}
@keyframes bounce {
  from {margin-bottom: 20px;margin-top:10px;}
  to {margin-bottom:10px;margin-top:20px;}
}
@keyframes bounceRight {
  from {margin-left:10px;margin-right:10px;}
  to {margin-left:20px;margin-right:0px;}
}
@keyframes bounceLeft {
  from {margin-left:10px;margin-right:10px;}
  to {margin-left:0px;margin-right:20px;}
}
.card p {
  font-size:1rem;
}
.slick-slide {
  padding: 0 10px;
}
.btn-link {
  border:none;
  background-color:transparent;  
}